@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  ont-family: 'Roboto', sans-serif;
}

.col-4{
  min-width: 300px;
}

.card{
  background-color: #f8f9fa;
}

img {
  max-width: 100%; height: auto;
}